@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],input[type="password"],input[type="email"],input[type="number"],
textarea {
  @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea {
  height: 150px;
}

button{
  @apply bg-gray-300;
}
button.primary {
  background-color: #F53850;
  @apply bg-primary p-2 w-full text-white rounded-2xl;
}

.alert-shown {
  opacity: 1;
  transition: all 200ms ease-in;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms ease-out 3s; 
}

.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}

